$header-height: 10vh;
$caption-height: 5vh;
$caption-min-height: 5vh;
.header {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid transparent;
  height: $header-height;
  background-color: #5C524D;
  padding: 0 130px;
  .logo {
    display: flex;
    align-items: center;
    span {
      float: right;
      font-size: 36px;
      line-height: 40px;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .bars {
    display: none;
  }
  .logout {
    display: none;
  }
  @media (max-width: 768px) {
    padding: 0 30px;
    display: flex;
    align-items: center;
    .bars {
      font-size: 24px;
      display: block;
    }
    .logo {
      font-size: 24px;
      span {
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        float: none;
      }
    }
    .logout {
      display: block;
      font-size: 24px;
    }
    .desktopMenu{
      display: none;
    }
    .mobileMenu{
      display: block;
    }
  }
}
.caption {
  padding: 0 130px;
  height: $caption-height;
  background-color: #FFF7F3;
  display: flex;
  align-items: center;
  font-weight: bold;
  span {
    font-size: 16px;
    color: #212121;
  }
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
}

.nav-links li {
  margin: 1rem;
  color: #FFFFFF
}

.nav-links li {
  border: 1px solid transparent;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5rem;
  opacity: 0.75;
  font-weight: bold;
  font-size: 18px;
}

.nav-links li:hover,
.nav-links li:active,
.nav-links li.active {
  color: #FFFFFF;
  opacity: 1;
}

.nav-links button {
  cursor: pointer;
  border: 1px solid #292929;
  color: #292929;
  background: transparent;
  padding: 0.5rem;
  font: inherit;
}

.nav-links button:focus {
  outline: none;
}

.nav-links button:hover,
.nav-links button:active {
  background: #292929;
  color: white;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }
  .nav-links li {
    margin: 0 0.5rem;
  }
  .nav-links li {
    color: white;
    text-decoration: none;
  }
  .nav-links button {
    border: 1px solid white;
    color: white;
    background: transparent;
  }
  .nav-links button:hover,
  .nav-links button:active {
    background: #f8df00;
    color: #292929;
  }
}

@media (max-width: 769px) {
  .caption{
    padding: 20px 30px;
    height: 8vh;
    background-color: #FFF7F3;
    display: flex;
    align-items: center;
    font-weight: bold;
    //width: 310px;
    span {
      font-size: 16px;
      color: #212121;
    }
  }
  .mobileMenu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 225px;
    left: 0;
    background-color: #5C524D;
    overflow: scroll;
    //height: 100vh;
    border-left: 1px solid whitesmoke;
    z-index: 1000;
    .nav-links {
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
    }
  }
  .nav-links{
    float: none;
  }
}

@media (max-width: 414px) {
    .mobileMenu{
      top: 165px;
    }
}

@media (min-width: 768px) {
  .desktopMenu{
    display: block;
  }
  .mobileMenu{
    display: none;
  }
}
